<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Quản trị</title>
  <link th:href="@{https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css}" rel="stylesheet" />
  <link th:href="@{/admin1/assets/css/styles.css}" rel="stylesheet" />
  <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js}"
          data-crossorigin="anonymous"></script>
  <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js}"
          data-crossorigin="anonymous"></script>
  <script th:src="@{/admin1/assets/js/scripts.js}"></script>
  <script th:src="@{https://cdn.jsdelivr.net/npm/simple-datatables@latest}" data-crossorigin="anonymous"></script>

  <script th:src="@{/admin1/assets/js/datatables-simple-demo.js}"></script>

  <script th:src="@{https://cdn.ckeditor.com/ckeditor5/29.0.0/classic/ckeditor.js}"></script>
</head>

<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <nav th:fragment="html_nav" class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="/admin/">QUẢN TRỊ</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
            class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">

    </form>
    <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a th:if="${session.admin}" class="nav-link dropdown-toggle" href="/admin/logout" role="button" ><i class="fas fa-user fa-fw"></i><span> Logout</span></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown1">
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Activity Log</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>
            </li>
        </ul>
</nav>
</nav>

<div id="layoutSidenav">
  <div id="layoutSidenav_nav">
    <div th:fragment="html_menu" id="layoutSidenav_nav">
      <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
          <div class="sb-sidenav-menu">
              <div class="nav">
                  <a class="nav-link" href="/ql-user/account">
                      <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                      Quản lý người dùng
                  </a>
                  <a class="nav-link" href="/ql-user/donation">
                      <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                      Quản lý đợt quyên góp
                  </a>
              </div>
          </div>

      </nav>
  </div>
  </div>

  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <h1 class="mt-4">Chi tiết đợt quyên góp</h1>
        <div class="card mb-4">

          <div class="card-body">
            <!--Detail-->
            <div class="row">
              <div class="col-6">
                <label for="addname"
                       class="col-form-label">Mã đợt quyên góp:</label>
                <input type="text" class="form-control"
                       id="addname" name="code" th:value="${donation.code}" readonly="readonly">
              </div>
              <div class="col-6">
                <label for="addcost"
                       class="col-form-label">Tên đợt quyên góp:</label>
                <input type="text" class="form-control"
                       id="addcost" name="name" th:value="${donation.name}"  readonly="readonly">
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <label for="addname"
                       class="col-form-label">Ngày bắt đầu:</label>
                <input type="date" class="form-control"
                       id="addname" name="start" th:value="${donation.startDate}"  readonly="readonly">
              </div>
              <div class="col-6">
                <label for="addcost"
                       class="col-form-label">Ngày kết thúc:</label>
                <input type="date" class="form-control"
                       id="addcost" name="end" th:value="${donation.endDate}" readonly="readonly">
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <label for="addname"
                       class="col-form-label">Tổng tiền quyên góp:</label>
                <input type="text" class="form-control"
                       id="addname" name="start" th:value="${donation.money}"  readonly="readonly">
              </div>
              <div class="col-6" th:switch="${donation.status}">
                <label for="addcost"
                       class="col-form-label">Trạng thái:</label>
                <input th:case=0 type="text" class="form-control"
                       id="addcost" name="end" value="Mới tạo" readonly="readonly">
                <input th:case=1 type="text" class="form-control"
                       id="addcost" name="end" value="Đang quyên góp" readonly="readonly">
                <input th:case=2 type="text" class="form-control"
                       id="addcost" name="end" value="Kết thúc quyên góp" readonly="readonly">
                <input th:case=3 type="text" class="form-control"
                       id="addcost" name="end" value="Đóng quyên góp" readonly="readonly">
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <label for="addname"
                       class="col-form-label">Tổ chức:</label>
                <input type="text" class="form-control"
                       id="addname" name="organizationName" th:value="${donation.organizationName}"  readonly="readonly">
              </div>
              <div class="col-6">
                <label for="addcost"
                       class="col-form-label">Số điện thoại:</label>
                <input type="number" class="form-control"
                       id="addcost" name="phoneNumber"  th:value="${donation.phoneNumber}"  readonly="readonly">
              </div>
              <div class="col-12">
                <label for="ct_id" class="col-form-label">Nội dung:</label>
                <textarea id="ct_id" name="description"  class="form-control" cols="50" th:text="${donation.description}"  readonly="readonly" ></textarea>
              </div>
            </div>
            <!--Detail-->
            <h3 class="mt-4">Danh sách những người quyên góp</h3>
            <table id="datatablesSimple">
              <thead>
              <tr style="background-color: gray !important;">
                <th>Họ Tên</th>
                <th>Tiền quyên góp</th>
                <th>Ngày quyên góp</th>
                <th>Nội dung</th>
                <th>Trạng thái</th>
                <th>Hành động</th>
              </tr>
              </thead>
              <tfoot>
              <tr>

              </tr>
              </tfoot>
              <tbody>
              <th:input type="hidden" th:value="${userDonationList.size()}" id="dodai" />
              <th:block th:each="userD : ${userDonationList}">
                <tr>
                  <td th:text="${userD.name}"></td>
                  <td th:text="${userD.money}"></td>
                  <td th:text="${userD.created}"></td>
                  <td th:text="${userD.text}"></td>
                  <td th:if="${userD.status==1}" >
                  	<span>Đã xác nhận</span>
                  </td>
                   <td th:if="${userD.status==0}" >
                  	<span>Chờ xác nhận</span>
                  </td>

                  <td style="display: flex;justify-content: space-between" >
					<form th:action="@{/ql-user/validations}" method="post" >
						<input type="hidden" class="form-control" id="id" name="idUserD" th:value="${userD.id}">
						<button type="submit" style="width: 150px" class="btn" th:classappend="${userD.status==0} ?  btn-success :  btn-danger">
							<div th:switch="${userD.status}">
								<span th:case=0>Xác nhận</span> 
								<span th:case=1>Hủy xác nhận</span>
							</div>
						</button>
					</form>
                </tr>
              </th:block>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </main>

     <script>
      ClassicEditor.create(document.querySelector('#editor')).then(eidt => {
        console.log("da" + eidt);
      })
              .catch(error => {
                console.error(error);
              });

    </script>
    <script>
      var dodai = document.getElementById("dodai").value;
      var a = parseInt(dodai);
      for(var i = 1;i<=a+10;i++){
        var name = "#editor"  + i
        ClassicEditor.create(document.querySelector(name)).then(eidt => {
          console.log("da" + eidt);
        })
                .catch(error => {
                  console.error(error);
                });
      }
    </script> 
    <footer class="py-4 bg-light mt-auto">
      <div class="container-fluid px-4">

      </div>
    </footer>
  </div>
</div>

<script th:src="@{js/JQuery3.3.1.js}"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js}"
        data-crossorigin="anonymous"></script>
<script th:src="@{js/scripts.js}"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/simple-datatables@latest}" data-crossorigin="anonymous"></script>
<script th:src="@{js/datatables-simple-demo.js}"></script>
</body>

</html>